.navigation {
    display: flex;
    flex-direction: row;
}

.navigation-item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 50px;
    text-decoration: none;
    font-size: x-large;
}

.navigation-item:hover {
    font-weight: bold;
}